#### 1. Find out all the types of error that we have encountered in our lecture and why? Also include the examples.

1. NameError: name 'Ten' is not defined

In [1]:
TEN = 10
print(ten)

NameError: ignored

** Case sensitivity in Python:** 

Python is case sensitive language. That is why when we tried to print ten instead of TEN. it is showing us error.

2. TypeError: 'str' object is not callable

In [2]:
print = "Hello Friends"
print(print)

TypeError: ignored

Here word print is a Reserved keywords in python so even though we assigned value to it. we ran into error while running the cell.

#### 2. Take input A and B and print their sum, mul, div, square of the nos

In [4]:

A = float(input("Enter a first number =  "))
B = float(input("Enter a second number =  "))
Sum = A + B
print(f"sum of {A} and {B} is {Sum}")
mult = A * B
print(f"Multiplication of {A} and {B} is {mult}")
div = A / B
print(f"Division of {A} and {B} is {div}")
sqr_A, sqr_B = A * A, B * B
print(f"""
Square of {A}  is {sqr_A}. 
Square of {B} is {sqr_B}.
""")

sum of 2.0 and 3.0 is 5.0
Multiplication of 2.0 and 3.0 is 6.0
Division of 2.0 and 3.0 is 0.6666666666666666

Square of 2.0  is 4.0.
Square of 3.0 is 9.0.

#### 3. How many reserve keywords are there in python and why we should not use them as a variable name.

ans: There are 33 reserved words in python. Every reserved word in python have its own meaning and by using those as variables, it causes errors in the code.

#### 4. Create email ids with the user inputs. in the following format - lastname.firstname@gmail.com

In [1]:
# To Create Gmail address using last and first name of user:

first_name = input("Enter your first name: ")
last_name = input("Enter your last name: ")

print(f"{last_name}.{first_name}@gmail.com")

pawar.omkar@gmail.com

#### 5. Try to print the following lines -
1. Hi I'm Sunny
2. My address is 22\3
3. I earn 20$ daily.

In [5]:
name = input("Enter name = ")
address = input("Enter address = ")
income = input("Enter income = ")
print(f"""
Hi I'm {name},
My address is {address},
I earn {income}$ daily.
""")

Hi I'm Omkar,
My address is Maharashtra,
I earn 100$ daily.

#### 6. Take user input (name, address, date of birth etc) to fill a form for your college and print their email IDs

In [7]:
name = input("Enter your name: ")
address = input("Enter your address: ")
date_of_joining = input("Enter year of joining: ")
print(f"""
Name: {name}
Address: {address}
DOJ: {date_of_joining}

Hey {name}, Welcome to Dataverse Collage, 
Your new email address is '{name}{date_of_joining}@gmail.com' .
""")

Name: omkar
Address: Maharashtra
DOJ: 2022

Hey omkar, Welcome to Dataverse Collage,
Your new email address is 'omkar2022@gmail.com' .

#### 7. Convert the following -
1. "22.4" into integer
2. "22" into complex no.

In [9]:
# typecasting:
print(type(22.4))
print(int(22.4))

print("___________________________________")

print(type(22))
print(complex(22))

<class 'float'>
22
___________________________________
<class 'int'>
(22+0j)

In [1]:
# hi 
z = 78

In [2]:
z

78